.mainText-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainText {
    font-size: 2em;
}

.banner {
    background-image: url("../img/banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

html {
    height: 100%;
}

body {
    background: #258dc8; /* Old browsers */
    background: -moz-linear-gradient(top, #258dc8 0%, #258dc8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #258dc8 0%,#258dc8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #258dc8 0%,#258dc8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=0 ); /* IE6-9 */
}

/* Bootstrap overwrite */

a, a:visited, a:active {
    color: #fff !important;
}

/* Custom colors */
.bg-transDark {
    background-color: rgba(0, 0, 0, 0.3);
}
